<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <script src="static/js/jquery.min.js"></script>
  <style>
    body {
      font-family: "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    }
  </style>
</head>

<body>
  {% block content %}
  {% endblock content %}
  <footer class="container text-center" id="footer">
    <hr>
    <p class="text-center">FCU course credits visualization, Project for ux design and database 2018</p>
  </footer>
  <script src="static/js/smooth.js"></script>
  <script src="static/js/jquery-ui.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
</body>

</html>