{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="my-5">
    <h2>{{dept}} 畢業學分</h2>
  </div>
  <table class="table">
    <tr class="row">
      <th class="col-2">年級</th>
      <th class="col-5">必修</th>
      <th class="col-5">選修</th>
    </tr>

    <tr class="row">
      <th class="col-2">大一</th>
      <td class="col-5">
        {% for c in data[0][1] %}
        <button type="button" class="btn btn-outline-primary m-1 req01" data-toggle="button" aria-pressed="false">
          {{c}}
        </button>
        {% endfor %}
        <button type="button" id="selectAll01" class="btn btn-outline-success m-1">全選</button>
      </td>
      <td class="col-5">
        {% for c in data[1][1] %}
        <button type="button" class="btn btn-outline-primary m-1 elective" data-toggle="button" aria-pressed="false">
          {{c}}
        </button>
        {% endfor %}
      </td>
    </tr>

    <tr class="row">
      <th class="col-2">大二</th>
      <td class="col-5">
        {% for c in data[0][2] %}
        <button type="button" class="btn btn-outline-primary m-1 req02" data-toggle="button" aria-pressed="false">
          {{c}}
        </button>
        {% endfor %}
        <button type="button" id="selectAll02" class="btn btn-outline-success m-1">全選</button>
      </td>
      <td class="col-5">
        {% for c in data[1][2] %}
        <button type="button" class="btn btn-outline-primary m-1 elective" data-toggle="button" aria-pressed="false">
          {{c}}
        </button>
        {% endfor %}
      </td>
    </tr>

    <tr class="row">
      <th class="col-2">大三</th>
      <td class="col-5">
        {% for c in data[0][3] %}
        <button type="button" class="btn btn-outline-primary m-1 req03" data-toggle="button" aria-pressed="false">
          {{c}}
        </button>
        {% endfor %}
        <button type="button" id="selectAll03" class="btn btn-outline-success m-1">全選</button>
      </td>
      <td class="col-5">
        {% for c in data[1][3] %}
        <button type="button" class="btn btn-outline-primary m-1 elective" data-toggle="button" aria-pressed="false">
          {{c}}
        </button>
        {% endfor %}
      </td>
    </tr>

    <tr class="row">
      <th class="col-2">大四</th>
      <td class="col-5">
        {% for c in data[0][4] %}
        <button type="button" class="btn btn-outline-primary m-1 req04" data-toggle="button" aria-pressed="false">
          {{c}}
        </button>
        {% endfor %}
        <button type="button" id="selectAll04" class="btn btn-outline-success m-1">全選</button>
      </td>
      <td class="col-5">
        {% for c in data[1][4] %}
        <button type="button" class="btn btn-outline-primary m-1 elective" data-toggle="button" aria-pressed="false">
          {{c}}
        </button>
        {% endfor %}
      </td>
    </tr>

    <tr class="row">
      <th class="col-2">通識</th>
      <td class="col-5">
        {% for c in data[0][0] %}
        <button type="button" class="btn btn-outline-primary m-1 Gen" data-toggle="button" aria-pressed="false">
          {{c}}
        </button>
        {% endfor %}
      </td>
      <td class="col-5">
        <div class="row input-group my-1">
          <input type="text" class="form-control" id="classInput" placeholder="通識課程名稱">
          <div class="input-group-append">
            <button id="findbtn" class="btn btn-outline-info mb-2">尋找課程</button>
          </div>
        </div>
        <div class="row">
          <div id="resultClass">
          </div>
        </div>
      </td>
    </tr>
  </table>
  <div class="row text-center">
    <button class="btn btn-lg btn-success mx-auto m-3" id="chartBtn">統計學分</button>
  </div>
  <div class="card w-75 mx-auto m-3" id="chart">
    <div class="card-body">
      <p class="card-text text-center"><strong>{{dept}} 畢業學分</strong></p>
    </div>
  </div>
</div>

<script>
  $(function() {
    $("#selectAll01").click(() => {
      $(".req01").click();
    });
    $("#selectAll02").click(() => {
      $(".req02").click();
    });
    $("#selectAll03").click(() => {
      $(".req03").click();
    });
    $("#selectAll04").click(() => {
      $(".req04").click();
    });
    $('#findbtn').on('click', () => {
      $.ajax({
        url: '/ajax/findClass',
        data: {
          name: $("#classInput").val()
        },
        success: (d) => {
          let data = JSON.parse(d);
          if (!data['content']) alert('查無課程!');
          else {
            for (let i = 0; i < data['content'].length; i++) {
              let exists = false;
              let content = data['content'][i][0];
              var buttons = $('<button type="button" class="btn btn-outline-primary m-1 Gen" data-toggle="button" aria-pressed="false">' +
                content + '</button>');
              $('#resultClass').children('button').each((index, elem) => {
                if ($(elem).text() === content) exists = true;
              })
              if (!exists) buttons.appendTo('#resultClass');
            }
          }
        }
      });
    });
    $("#chartBtn").click(() => {
      let primary = [];
      let elective = [];
      let Gen = [];
      $(".req01").each((i, elem) => {
        if ($(elem).attr("aria-pressed") === "true") {
          primary.push($(elem).text());
        }
      });
      $(".req02").each((i, elem) => {
        if ($(elem).attr("aria-pressed") === "true") {
          primary.push($(elem).text());
        }
      });
      $(".req03").each((i, elem) => {
        if ($(elem).attr("aria-pressed") === "true") {
          primary.push($(elem).text());
        }
      });
      $(".req04").each((i, elem) => {
        if ($(elem).attr("aria-pressed") === "true") {
          primary.push($(elem).text());
        }
      });
      $(".Gen").each((i, elem) => {
        if ($(elem).attr("aria-pressed") === "true") {
          Gen.push($(elem).text());
        }
      });
      $(".elective").each((i, elem) => {
        if ($(elem).attr("aria-pressed") === "true") {
          elective.push($(elem).text());
        }
      });
      console.log(primary)
      console.log(elective)
      console.log(Gen)
      $.ajax({
        url: '/ajax/getCredits',
        data: {
          name: $('h2').text().split(' ')[0],
          primary: primary,
          elective: elective,
          Gen: Gen
        },
        success: (d) => {
          buildChart(JSON.parse(d)["content"].map(Number));
          $.smoothScroll({
            scrollTarget: '#chart',
            offset: -150
          });
        }
      });
    });
  });
</script>

<script src="static/js/Chart.bundle.min.js"></script>
<script>
  function buildChart(grad_credits) {

    if ($('#chart canvas').length == 0) {
      let c = $('<canvas id="creditChart"></canvas>');
      c.appendTo('#chart');
    }
    var ctx = document.getElementById("creditChart").getContext('2d');
    var creditChart = new Chart(ctx, {
      type: 'horizontalBar',
      data: {
        labels: ["必修", "選修", "外系學分", "通識必修", "通識選修"],
        datasets: [{
          label: '已修習',
          data: [grad_credits[5] - 1, grad_credits[6] - 1, grad_credits[7] - 1, grad_credits[8] - 1, grad_credits[9] - 1], // TODO: input data
          backgroundColor: "rgba(54, 162, 235, 0.6)"
        }, {
          label: '畢業學分',
          data: [grad_credits[0] - 1, grad_credits[1] - 1, grad_credits[2] - 1, grad_credits[3] - 1, grad_credits[4] - 1],
          backgroundColor: "rgba(150, 150, 150, 0.2)"
        }]
      },
      options: {
        scales: {
          yAxes: [{
            stacked: true
          }],
          xAxes: [{
            stacked: true
          }]
        }
      }
    });
  }
</script>
{% endblock content %}