{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="my-5">
    <h3>修課資訊及學分統計</h3>
  </div>

  {% for courseType in data %}
  <div class="card mb-3">
    <div class="card-header">
      {{ courseType }}
    </div>
    <div class="card-body m-2 row">
      {% for course in data[courseType] %}
      <p class="card-text mx-2 {{ courseType }}" points="{{ course[1] }}">{{ course[0] }}</p>
      {% endfor %}
    </div>
  </div>
  {% endfor %}



  <script>
    $(function() {
      $("#chartBtn").click(() => {
      let primary = [];
      let elective = [];
      let Gen = [];
      let Genelective = [];
      let outer = [];
      $(".院系必修").each((i, elem) => {
        if ($(elem).attr("aria-pressed") === "true") {
          primary.push($(elem).text());
        }
      });
      $(".通識基礎").each((i, elem) => {
        if ($(elem).attr("aria-pressed") === "true") {
          Gen.push($(elem).text());
        }
      });
      $(".本系專業選修").each((i, elem) => {
        if ($(elem).attr("aria-pressed") === "true") {
          elective.push($(elem).text());
        }
      });
      $(".非本系專業選修").each((i, elem) => {
        if ($(elem).attr("aria-pressed") === "true") {
          outer.push($(elem).text());
        }
      });
      $(".通識選修").each((i, elem) => {
        if ($(elem).attr("aria-pressed") === "true") {
          Genelective.push($(elem).text());
        }
      });
      $.ajax({
        url: '/ajax/getCredits',
        data: {
          name: "資訊工程學系",//錯誤，找不到解決辦法中
          primary: primary,
          elective: elective,
          Gen: Gen,
          outer: outer,
          Genelective: Genelective
        },
        success: (d) => {
          buildChart(JSON.parse(d)["content"].map(Number));
          $.smoothScroll({
            scrollTarget: '#chart',
            offset: -150
          });
        }
      });
    });
    });
  </script>

  <script src="static/js/Chart.bundle.min.js"></script>
  <script>
    function buildChart(grad_credits) {

      if ($('#chart canvas').length == 0) {
        let c = $('<canvas id="creditChart"></canvas>');
        c.appendTo('#chart');
      }
      var ctx = document.getElementById("creditChart").getContext('2d');
      var creditChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
          labels: ["必修", "選修", "外系學分", "通識必修", "通識選修"],
          datasets: [{
            label: '已修習',
            data: [grad_credits[5], grad_credits[6], grad_credits[7], grad_credits[8], grad_credits[9]], // TODO: input data
            backgroundColor: "rgba(54, 162, 235, 0.6)"
          }, {
            label: '畢業學分',
            data: [grad_credits[0] - 1, grad_credits[1] - 1, grad_credits[2] - 1, grad_credits[3] - 1, grad_credits[4] - 1],
            backgroundColor: "rgba(150, 150, 150, 0.2)"
          }]
        },
        options: {
          scales: {
            yAxes: [{
              stacked: true
            }],
            xAxes: [{
              stacked: true
            }]
          }
        }
      });
    }
  </script>
  {% endblock content %}